.cover__subtitle {
    max-width: 382px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    margin: 0 auto 245px;
}

@media (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto 195px;
    }
}

@media (max-width: 768px) {
    .cover__subtitle {
        margin: 0 auto 115px;
    }
}

@media (max-width: 425px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        margin: 0 auto 33px;
    }
}
